:root {

    /*Tipografy*/
    --ff-jacquesfrancoisshadow: 'Jacques Francois Shadow', cursiva;
    --ff-italianno: 'Italianno', regular;
    --ff-playball: 'Playball', sans-serif;

    --ff-patuaone: 'Patua One', cursive; 
    --ff-oswald: 'Oswald', regular;

    /*Font Weight*/
    --fw-regular: 400;
    --fw-light: 300;

    /*Fonts Size*/
    --fs-xxlarge: clamp(8rem, 20vw, 18rem);
    --fs-xlarge: clamp(3.5rem, 15vw, 10rem);
    --fs-large: clamp(3.5rem, 10vw, 5.5rem);
    
    --fs-medium-large: clamp(2.5rem, 7vw, 5rem);
    --fs-medium: clamp(2rem, 5vw, 4rem);
    --fs-medium-small: clamp(1.7rem, 5vw, 3rem);

    --fs-small-large: clamp(1.5rem, 4vw, 2.5rem);
    --fs-small-medium: clamp(1.3rem, 3vw, 1.5rem);
    --fs-small: clamp(0.5rem, 3vw, 1rem);

    /*Colors*/
    --clr-text-primary: #EDAAA6;
    --clr-text-secondary: #eda9a680;
    --clr-text-tertiary: #F5F5EB;

    --clr-btn-background: #EDAAA6;
    --clr-bg-page: #FFFFFF;
    --clr-bg-container: #F5F5EB;
    --clr-bg-container-primary: #FBD0C9;
    --clr-bg-background-secondary: #EDAAA6;
    --clr-bg-interface-bacground: #B26C6C40;

    --clr-ts-shadows: 0 4px 4px rgba(0, 0, 0, 0.40);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    position: relative;

    width: 100%;
    height: 100%;

    background-image: url(../../assets/images/page-background.webp);
    background-repeat: no-repeat;
    background-size: cover;  
    z-index: -1;
}

/* loadig icon styles */

body.loading {
    width: 100vw;
    height: 100vh;

    main {
        display: none;
    }
}

.page-loading {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    gap: 2em;
}

.page-loading > span {
    font-family: var(--ff-patuaone);
    font-size: var(--fs-medium);
}

.loading-icon {
    position: relative;
    width: 10em;
    height: 10em;
    border-radius: 50% / 50%;
    border: 10px solid var(--clr-text-primary);
}

.loading-icon::before {
    content: "";
    position: absolute;
    width: 12%;
    height: 10%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--clr-bg-background-secondary);
    border-radius: 50% / 50%;
}

.clock-hand {
    position: relative;
    width: 100%;
    height: 100%;
}

.clock-hand::before, .clock-hand::after {
    content: "";
    position: absolute;
    top: 10%;
    left: 50%;
    width: 12%;
    height: 40%;
    background-color: var(--clr-bg-background-secondary);
}

.clock-hand::before {
    transform: translateX(-50%);
}

.clock-hand::after {
    transform-origin: left bottom;
    transform: rotate(0deg) translateX(-50%);
    animation: rotateClock 1S linear infinite;
}

@keyframes rotateClock {
    0% {
        transform: rotate(0deg) translateX(-50%);
    }
    100% {
        transform: rotate(360deg) translateX(-50%);
    }
}

/* main styles page */

main {
    width: 100%;
    height: 100%;
}

.main-content {
    flex-direction: column;
    gap: 5em;
    z-index: 0;
}

span, strong, p, h1, h2, h3, li {
    color: var(--clr-text-primary);
}

p {
    text-align: center;
    max-width: 50%;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Page hero and decoration */

.page-content-container {
    width: 100%;
    height: 80vh;
    z-index: 0;
}

.page-content-container:nth-of-type(1) {
    height: 100vh;
}

.page-content-container:last-child {
    height: 100%;
}

.page-hero-container {
    position: relative;
    margin: 1em 0;
}

.page-hero-container::before,
    .page-hero-container::after {
        content: "";
        position: absolute;
        background-color: var(--clr-bg-container-primary);
        width: 100%;
        height: 1em;
}

.page-hero-container::before {
    top: -1em;
}

.page-hero-container::after {
    bottom: -1em;
}

.hero-content {
    width: 100%;
    height: 100%;
    background-color: var(--clr-bg-container);
}

.hero-content::before,
    .hero-content::after {
        content: "";
        position: absolute;
        background-image: url(../../assets/images/hero-images-flowers.webp);
        background-repeat: no-repeat;
        background-size: clamp(250px, 50vw, 400px);
        width: 100%;
        height: 100%;
        pointer-events: none;
}

.hero-content::before {
    top: 0;
    left: 0;
}

.hero-content::after {
    bottom: 0;
    right: 0;
    rotate: 180deg;
}

/* Card container styles */

.card-container {
    width: clamp(20em, 80vw, 30em);
    height: fit-content;

    background-color: var(--clr-bg-container);

    border-radius: 50px;
    padding: 3em;
}

/* Buttons styles */

button {
    padding: 0.5em 1em;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    border: none;
    background-color: transparent;

    font-family: var(--ff-patuaone);
    font-size: var(--fs-small-medium);

    transition: transform 0.5s ease-in-out;
}

.btn-opaque-background {
    color: var(--clr-text-tertiary);
    background-color: var(--clr-btn-background);
}

.btn-trasparent-background {
    border: 1px solid var(--clr-btn-background);
    color: var(--clr-text-primary);
}

.btn-opaque-background:hover, .btn-trasparent-background:hover {
    transform: scale(1.1);
}

/* display */

.display {
    display: flex;
}

.hidden {
    display: none;
}

/*----------------------------------------------------------------------------------------*/
/*Hero Section*/
/*----------------------------------------------------------------------------------------*/

.page-hero-container:nth-of-type(1) {
    margin-top: 0;
}

.celebrant-content {
    position: relative;
    
    font-family: var(--ff-italianno);
    font-size: var(--fs-xlarge);
}

.event-label {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.event-number-container {
    position: relative;
}

.event-year {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.celebrant-name {
    text-align: center;
    font-weight: var(--fw-light);
    font-size: var(--fs-xxlarge);
    line-height: 50%;
}

.event-number {
    color: var(--clr-text-secondary);
    font-family: var(--ff-jacquesfrancoisshadow);
    text-transform: uppercase;
    font-weight: var(--fw-light);
}

/*----------------------------------------------------------------------------------------*/
/*Date Section*/
/*----------------------------------------------------------------------------------------*/

.date-container {
    height: clamp(20em, 80vw, 30em);

    flex-direction: column;
    gap: 3em;

    text-align: center;
}

.date-container h2 {
    font-size: var(--fs-large);
    font-family: var(--ff-italianno);
}

.calendar-date {
    justify-content: space-between;
    font-family: var(--ff-patuaone);
    font-size: var(--fs-medium);
}

.vertical-divider {
    width: 0.1em;
    height: 1.2em;
    min-width: 5px;
    
    margin: 0  0.3em;

    background-color: var(--clr-text-primary);
}

.clock-container {
    font-size: var(--fs-medium);
    width: 80%;
}

.clock-icon {
    width: 1.5em;
}

.time-indicator-container {
    width: 100%;
    justify-content: space-between;
    font-family: var(--ff-patuaone);
}

.time-indicator {
    flex-direction: column;
}

.time-indicator > span {
    font-family: var(--ff-oswald);
    font-weight: var(--fw-light);
    text-transform: uppercase;
    font-size: var(--fs-small);
}

/*----------------------------------------------------------------------------------------*/
/*Location Section*/
/*----------------------------------------------------------------------------------------*/

.location-container {
    width: 100%;
    height: 100%;

    flex-direction: column;
    gap: 2em;
}

.location-icon {
    width: 8em;
    border-radius: 50%;

    background-color: var(--clr-bg-background-secondary);
    padding: 10px;
}

.location-text-container {
    flex-direction: column;
}

.location-text {
    font-size: var(--fs-small-medium);
    font-family: var(--ff-oswald); 
    font-weight: var(--fw-light);
}

/*----------------------------------------------------------------------------------------*/
/*Phrase Section*/
/*----------------------------------------------------------------------------------------*/

.phrase-text {
    max-width: 90%;
    font-size: var(--fs-medium-large);
    font-family: var(--ff-playball);
    color: var(--clr-text-tertiary);
    text-shadow: var(--clr-ts-shadows)
}

/*----------------------------------------------------------------------------------------*/
/*Attendance Section*/
/*----------------------------------------------------------------------------------------*/

.confirm-attendance-container {
    flex-direction: column;
    gap: 3em;
}

.confirm-attendance-container h2 {
    font-size: var(--fs-medium-large);
    font-family: var(--ff-playball);
    font-weight: var(--fw-light);
}

.confirm-attendance-container p {
    font-size: var(--fs-small-medium);
    font-family: var(--ff-oswald);
    font-weight: var(--fw-light);
}

.attendance-text-container, .attendance-btn-container {
    flex-direction: column;
    gap: 1em;
}

/*----------------------------------------------------------------------------------------*/
/*Pay Card Section*/
/*----------------------------------------------------------------------------------------*/

#pay-card-info-section {
    height: 100%;
}

.pay-card-info {
    width: fit-content;
    max-width: 90vw;
    flex-direction: column;
    font-family: var(--ff-playball);

    gap: 3em;

    padding: 1.5em;
}

.pay-card-info > .center-content {
    flex-direction: column;
}

.pay-card-info h3 {
    font-size: var(--fs-medium-small);
    font-weight: var(--fw-light);
}

.pay-card-header {
    font-size: var(--fs-medium-small);
}

.pay-card-header > h2 {
    font-weight: var(--fw-light);
}

.pay-card-body > ul > li {
    font-size: var(--fs-small-medium);
    font-family: var(--ff-oswald);
    font-weight: var(--fw-light);
}

.pay-card-footer {
    gap: 1em;
}

.pay-metod > img {
    width: 20%;
}

.btn-pay-metod-text {
    flex-direction: column;
    align-items: start;
    font-size: var(--fs-small-medium);
    font-family: var(--ff-oswald);
    text-align: start;
}

/* Pay interface */

.pay-interface {
    width: 100%;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    background-color: var(--clr-bg-interface-bacground);
}

.copy-copy-interface-content {
    flex-direction: column;
    gap: 2em;
    font-family: var(--ff-oswald);
}

.copy-copy-interface-content h2 {
    font-family: var(--ff-patuaone);
    font-size: var(--fs-medium-large);
}

.copy-copy-interface-content p {
    font-size: var(--fs-small-medium);
    font-weight: var(--fw-light);
}

.copy-copy-interface-content span {
    font-size: var(--fs-small-medium);
    font-weight: var(--fw-regular);
}

.copy-interface-content {
    flex-direction: column;
}

.number-container {
    flex-direction: column;
    gap: 0.5em;
}

/*----------------------------------------------------------------------------------------*/
/*Present Section*/
/*----------------------------------------------------------------------------------------*/

.present-content-container {
    width: 100%;
    height: 100%;

    flex-direction: column;
    gap: 5em;

    margin-bottom: 5vw;
}

.present-image-container > img {
    width: 100%;
    max-width: 80vw;
    border-radius: 100px;
    background-color: var(--clr-bg-page);
}

.present-content-title {
    flex-direction: column;
}

.present-content-title > h2, .present-content-title > span {
    font-size: var(--fs-medium-large);
    font-family: var(--ff-playball);
    color: var(--clr-text-tertiary);
    text-align: center;
    text-shadow: var(--clr-ts-shadows)
}

.present-content-title > span {
    font-size: var(--fs-medium-small);
}

.pay-present-metod-container {
    height: 30%;
    max-width: 80vw;
    flex-direction: column;
    background-color: var(--clr-bg-container);
    border-radius: 70% / 70%;
    gap: 2em;
    font-family: var(--ff-oswald);
    white-space:nowrap;
    padding: 5% 0;
}

.pay-present-metod-title {
    flex-direction: column;
}

.pay-present-metod-title > img {
    width: 30%;
}

.pay-present-metod-title > h3 {
    font-size: var(--fs-medium-small);
    font-weight: var(--fw-regular);
}

.pay-present-metod-text span {
    width: 100%;
    font-size: var(--fs-small-large);
    font-family: var(--ff-oswald);
    font-weight: var(--fw-light); 
    text-align: center;
}

.final-thanks {
    font-family: var(--ff-playball);
    font-size: var(--fs-medium-large);
    color: var(--clr-text-tertiary);
    text-shadow: var(--clr-ts-shadows);
}